@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a.active {
  color: #e7501e;
  font-weight: 600;
}
body {
  background-image: url(assets/photo-fond.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  padding: 0;
}

.dark-nav {
  background: white;
  opacity: 95%;
  width: 100%;
}
/* Responsive de la page Maison */
@media (max-width: 490px) {
  .bouton {
    flex-direction: column;
    gap: 2px;
  }
  .connect {
    margin-top: 20px;
  }
  .all {
    /* Classe pour gérer le responsive de all le design de la page maison*/
    margin-top: 50px;
  }
}

@media (min-width:930px) {
  .caroussel {
    width: 798.97px;
  }
}

/* Responsive du footer */
@media (max-width: 815px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .reseaux {
    align-items: flex-center;
    margin-left: 0;
  }
  .px-2 {
    padding-left: 2px;
  }
}

/* css page about */
.titre {
  text-align: center; /* Centrage du titre */
  color: white;
}
.white {
  gap: 20px;
}
/* Responsive de about */
@media (max-width: 400px) {
  .white {
    flex-direction: column;
  }
  .sylvia {
    height: 250px;
  }
}

/* Responsive expeience */
@media (max-width: 630px) {
  .logo {
    width: 90px;
  }
}
